# Python compiled files
*.pyc

# Databases
*.db
*.sqlite

# Data Files
*.csv

# Configuration variables
config.yaml

# Package build files
build/
dist/

# Virtual Environment
venv/

# IDE files
.idea/

# Temporary
tests/resources/